[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
matplotlib = "*"
nested-lookup = "*"
charset-normalizer = "*"

[dev-packages]

[requires]
python_version = "3.9"
